<footer class="footer-wrapper">

    <div class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
            <div fxFlex="33.33" class="footer-item text-center">
                Afritasks Pty. Ltd 2019©, All rights reserved
            </div>
        </div>
    </div>

</footer>