.header-icon {
    padding: 0 14px;
  }
  
  .header-spacer {
    flex: 1 1 auto;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .mat-toolbar-single-row {
    height: 50px;
}
  
  .header-is-mobile .header-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.header-app-name {
    margin-left: 8px;
  }

  img {
    border-radius: 50%;
  }

  .with-round-borders{
    border-radius: 40px;
  }
  