<div class="header-container" [class.header-is-mobile]="mobileQuery.matches">
  <mat-toolbar [style.height.px]="mobileQuery.matches ? 55 : 50" class="header-toolbar mat-elevation-z8" color="primary">
  
  <button *ngIf="mobileQuery.matches" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="openTaskCreate()" mat-menu-item>
      <mat-icon>library_add</mat-icon>
      <span>Post a task</span>
    </button>
    <button *ngIf="!(user_id_token && user_access_token )" (click)="openLogin()" mat-menu-item >
      <mat-icon>lock_open</mat-icon>
      <span>Login</span>
    </button>
    <button *ngIf="!(user_id_token && user_access_token )" (click)="openLogin()" mat-menu-item>
      <mat-icon>people_outline</mat-icon>
      <span>Join Afritasks</span>
    </button>
      <button (click)="openBrowseTasks()" mat-menu-item >
      <mat-icon>library_books</mat-icon>
      <span>Browse Tasks</span>
    </button>
    <button *ngIf="(user_id_token && user_access_token)" (click)="openMyTasks()" mat-menu-item >
      <mat-icon>library_books</mat-icon>
      <span>My Tasks</span>
    </button>
  </mat-menu>
  
      <button mat-flat-button color="primary" (click)="goToDashBoard()"><h4>Afritasks</h4></button>
      &nbsp;    &nbsp;    &nbsp;
      <button *ngIf="!mobileQuery.matches" mat-raised-button color="primary" class="with-round-borders" (click)="openTaskCreate()">Post a task</button>
      &nbsp;
      <button *ngIf="!mobileQuery.matches" mat-button (click)="openBrowseTasks()" >Browse tasks</button>
      &nbsp;
      <button *ngIf="user_id_token && user_access_token && !mobileQuery.matches" mat-button (click)="openMyTasks()" >My tasks</button>
      <span *ngIf="!mobileQuery.matches" class="header-spacer"></span>
      <button *ngIf="!mobileQuery.matches" mat-button>Help</button>
      &nbsp;
      <button *ngIf="user_id_token && user_access_token && !mobileQuery.matches" mat-button>Notifications</button>
      <button *ngIf="!(user_id_token && user_access_token ) && !mobileQuery.matches" mat-button (click)="openLogin()">Sign Up</button>
      &nbsp;
      <button *ngIf="user_id_token && user_access_token && !mobileQuery.matches" mat-button>Messages</button>
      <button *ngIf="!(user_id_token && user_access_token ) && !mobileQuery.matches" mat-button (click)="openLogin()">Log In</button>
      <span style="flex: 1 1 auto;" *ngIf="mobileQuery.matches" ></span>
          <button  *ngIf="mobileQuery.matches" style="margin-bottom: 3px;" mat-mini-fab color="primary" (click)="openTaskCreate()"><mat-icon>library_add</mat-icon></button>
      &nbsp;
      <mat-menu #appMenu="matMenu" yPosition="below">
        <button mat-menu-item>Public Profile</button>
        <button mat-menu-item>Notifications</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
        <button mat-menu-item (click)="logout();">Logout</button>
      </mat-menu>
      <button style="margin-left: 10px;" *ngIf="user_id_token && user_access_token" mat-icon-button [matMenuTriggerFor]="appMenu">
        <div matTooltip="{{user_name}}" class="text-center"><img style="width:40px;" [src]="user_picture" alt="Profile" /></div>
      </button>
    </mat-toolbar>
  </div>