.offer-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .service-fee-content{
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .reveivable-content{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #2196f3;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .task-card-text-posted-by{
    font-size: 12px;
    position: absolute;
    margin-top: 0px;
    margin-left: 6px; 
  }

  .task-card-text{
    font-size: 12px;
    position: absolute;
    margin-top: 21px;
    margin-left: 6px; 
  }
  .mat-horizontal-stepper-header{
    pointer-events: none !important;
}