<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!loading">
  <div class="row text-center">
    <h3> Make an Offer</h3>
  </div>

  <mat-horizontal-stepper linear #stepper>
    <mat-step>
      <form class="offer-form">
        <div class="row text-center">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>attach_money</mat-icon>
            <mat-label>Your Offer:</mat-label>
            <input type="number" matInput placeholder="Your Offer" [formControl]="priceFormControl" required [value]="offerAmount" (keyup)="offerAmountChange($event)">
            <mat-error *ngIf="(priceFormControl.hasError('min') || priceFormControl.hasError('max')) && !priceFormControl.hasError('required')">
              Please enter a valid price <strong>($1 - $50000)</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
      <div>
        <div class="service-fee-content">
          <span class="text-left">Service Fee</span><span class="text-right" style="float:right">-${{serviceFee}}</span>
        </div>
        <div class="reveivable-content">
          <span class="text-left">You'll receive</span> <span class="text-right" style="float:right">${{amountReceivable}}</span>
        </div>
      </div>
      <div align="center">
        <button mat-stroked-button color="primary" [disabled]="priceFormControl.hasError('min') || priceFormControl.hasError('max')" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <div>
        <h4>Why are you the best person for this task?</h4>
        <p *ngIf="!mobileQuery.matches">For your safety, please do not share personal information, e.g., email, phone or address.</p>
      </div>
      <mat-form-field class="example-full-width" appearance="outline">
        <textarea [formControl]="summaryFormControl" matInput rows="10" minlength="10" maxlength="1500" [(ngModel)]="model.Summary" required #reason placeholder="eg. I will be great for this task. I have the necessary experience, skills and equipment required to get this done."></textarea>
        <mat-hint align="end">{{1500 - reason.value.length}} characters remaining</mat-hint>
        <mat-error *ngIf="summaryFormControl.hasError('required')">
        <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="reveivable-content">
        <span class="text-left">You'll receive</span> <span class="text-right" style="float:right">${{amountReceivable}}</span>
      </div>
      <div>
        <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
        &nbsp;
        <button mat-stroked-button color="primary"style="float:right" [disabled]="summaryFormControl.hasError('required')" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <div class="poster-details text-center">

        <div><img mat-card-avatar [src]="user_picture" style="height: 40px;width: 40px;border-radius: 50%;">
          <span class="task-card-text-posted-by">
            <span >&nbsp;{{user_name}}</span>
          </span>
          <span class="task-card-text">
            <h5>&nbsp;New!</h5>
          </span></div>

      </div>
      <div class="row text-center">
        <h3> Total: ${{offerAmount}}</h3>
      </div>
      <div>
        <!-- <div class="service-fee-content">
          <span class="text-left">Service Fee</span><span class="text-right" style="float:right">-${{serviceFee}}</span>
        </div> -->
        <div class="reveivable-content">
          <span class="text-left">You'll receive</span> <span class="text-right" style="float:right">${{amountReceivable}}</span>
        </div>
      </div>
      <div>
        <button class="text-left" mat-stroked-button color="primary" matStepperPrevious>Back</button>
        &nbsp;
        <button [style.width.%]="mobileQuery.matches ? 50 : 27" style="float:right" mat-stroked-button color="primary"  (click)="makeOffer()" matStepperNext>Submit Offer</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
