<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-vertical-stepper *ngIf="!loading" [linear]="isLinear" #stepper [style.width.%]="mobileQuery.matches ? 109 : 100" [style.margin-left.px]="mobileQuery.matches ? -30 : 0">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>What do you need done?</ng-template>
      <p *ngIf="!mobileQuery.matches">This'll be the title of your task - e.g. Help move my sofa</p>
      <mat-form-field style="width: 350px;">
        <input matInput #taskTitle placeholder="Task Title" value="{{model.Summary}}" formControlName="firstCtrl"
          minlength="10" maxlength="50" required [(ngModel)]="model.Summary">
        <mat-hint align="end">{{taskTitle.value.length}} / 50</mat-hint>
      </mat-form-field>
      <div>
        <button mat-stroked-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>What are the details?</ng-template>
      <p *ngIf="!mobileQuery.matches">Be as specific as you can about what needs to be done.</p>
      <mat-form-field appearance="outline" style="width: 350px;" [style.width.%]="mobileQuery.matches ? 109 : 100">
        <textarea matInput #taskDescription placeholder="Description" rows="3" formControlName="secondCtrl" minlength="25"
          maxlength="1000" required [(ngModel)]="model.Description"></textarea>
        <mat-hint align="end">{{taskDescription.value.length}} / 1000</mat-hint>
      </mat-form-field>
      <div>
        <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
        &nbsp;
        <button mat-stroked-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Task Location</ng-template>
      <p *ngIf="!mobileQuery.matches">The person will need to perform the task at a specific location (e.g. at your home).</p>
      <mat-form-field style="width: 350px;">
        <input matInput placeholder="Enter a Suburb" formControlName="thirdCtrl" required
          ngx-google-places-autocomplete [options]='countryOptions' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
      </mat-form-field>
      <div>
        <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
        &nbsp;
        <button mat-stroked-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Due Date</ng-template>
      <div>
        <mat-radio-group formControlName="fourthCtrl" [(ngModel)]="dueDateOption" (change)="radioChange()">
          <mat-radio-button value="1">Today</mat-radio-button>&nbsp;
          <mat-radio-button value="2">By a certain day</mat-radio-button>&nbsp;
          <mat-radio-button value="3">Within 1 week</mat-radio-button>
        </mat-radio-group>
      </div>
      <hr>
      <mat-form-field>
        <input [disabled]="disableDatepicker" formControlName="datePickerCtrl" matInput [matDatepicker]="picker"
          (dateChange)="dateChange($event)" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
        &nbsp;
        <button mat-stroked-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Suggest a price</ng-template>
      <mat-form-field class="example-full-width">
        <span matPrefix>$ &nbsp;</span>
        <input type="number" matInput placeholder="Price" [formControl]="priceFormControl" required [(ngModel)]="model.Price"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="(priceFormControl.hasError('min') || priceFormControl.hasError('max')) && !priceFormControl.hasError('required')">
          Please enter a valid price <strong>($1 - $50000)</strong>
        </mat-error>
        <mat-error *ngIf="priceFormControl.hasError('required')">
          Price is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
        &nbsp;
        <button [style.margin-top.px]="mobileQuery.matches ? 10 : 0" mat-raised-button color="primary" [disabled]="priceFormControl.hasError('required') || priceFormControl.hasError('min') || priceFormControl.hasError('max')" (click)="save()">Find someone</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
