<section *ngIf="tasks" id="tasks-section" class="tasks-section">
    <div class="container">
  <div fxLayout='column' class="text-center">
            <div fxFlex.gt-md="60%">
                <h1 class="title-page">See what others are getting done</h1>
                <p class="text-center" > Got a few boxes to shift, an apartment or entire house? Get your home moved just the way you want, by whom you want, when you want. Let Afritasks shoulder the load.</p>
            </div>
        </div>
    <ngu-carousel
    [inputs]="carouselOptions">
      <ngu-item NguCarouselItem *ngFor="let t of tasks">
          <mat-card class="task-card" routerLink="/tasks/{{t.Id}}" (click)="viewTask(t)">
              <mat-card-header>
                  <img mat-card-avatar [src]="t.CreatorPicture">
                  <mat-card-title><h5><strong>{{t.Summary | titlecase | slice:0:28 }}{{ (t.Summary.length>28)? '..':' ' }}</strong></h5></mat-card-title>
                  <mat-card-subtitle>{{t.TaskLocation | titlecase | slice:0:48 }}{{ (t.TaskLocation.length>48)? '..':' ' }}</mat-card-subtitle>
                  <div style="float: right;"><h2>${{t.Price}}</h2></div>
                </mat-card-header>
            </mat-card>
      </ngu-item>
      <button mat-fab NguCarouselPrev class='carousel-left'><mat-icon>keyboard_arrow_left</mat-icon></button>
      <button mat-fab NguCarouselNext class='carousel-right'><mat-icon>keyboard_arrow_right</mat-icon></button>
  </ngu-carousel>
  <button mat-raised-button color="primary" mat-lg-button class="text-center with-round-borders" align="center" (click)="openTaskCreate()">Get
    started now</button>
    </div>
  </section>