.item { 
  .mat-card {
    margin: 0 16px;
    padding: 15px;
  }
}
.tasks-section {
  margin-top: 5px;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.carousel-user-img{
  margin-left: 25px;
}
.with-round-borders{
  border-radius: 40px;
}
.task-card {
  height: 68px;
  width: 300px;
  border-left: 4px solid #2196f3;
}

.task-card-header {
  width: 300px;
  border-left: 4px solid #2196f3;
}