<div class="tasks-container" [class.account-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar-properties mat-elevation-z4">

<div *ngIf="!mytasksview">
    <button  mat-button (click)="viewSearchOptions('location')">{{locationLabel}}<mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon></button>
<span *ngIf="!mobileQuery.matches" style="margin-left: 20%;"></span>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
    <button mat-button (click)="viewSearchOptions('price')">{{priceLabel}}<mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon></button>
    <span *ngIf="!mobileQuery.matches" style="margin-left: 20%;"></span>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
    <button mat-button (click)="viewSearchOptions('tasktype')">Task type<mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down</mat-icon></button>
</div>

<div *ngIf="mytasksview">
    <button  mat-button (click)="filterMyTasks('All')" [ngClass]="{'blue' : toggle, 'black': !toggle}">All Tasks</button>

    <span *ngIf="!mobileQuery.matches" style="margin-left: 20%;"></span>
    <button mat-button (click)="filterMyTasks(postedTasks)" [ngClass]="{'blue' : toggle, 'black': !toggle}">Posted Tasks</button>

    <span *ngIf="!mobileQuery.matches" style="margin-left: 20%;"></span>
    <button mat-button (click)="filterMyTasks(draftTasks)">Draft Tasks</button>

    <span *ngIf="!mobileQuery.matches" style="margin-left: 20%;"></span>
    <button mat-button (click)="filterMyTasks(assignedTasks)">Assigned Tasks</button>

    <span *ngIf="!mobileQuery.matches" style="margin-left: 20%;"></span>
    <button mat-button (click)="filterMyTasks(pendingTasks)">Pending Offers</button>

    <span *ngIf="!mobileQuery.matches" style="margin-left: 20%;"></span>
    <button mat-button (click)="filterMyTasks(completedTasks)">Completed Tasks</button>
</div>

    <span class="header-spacer"></span>

    <mat-form-field  *ngIf="!mobileQuery.matches" appearance="outline">
      <input matInput placeholder="Search for a task" maxlength="20" type="search" [(ngModel)]="searchSummary" (keyup.enter)="applySearch()">
      <button matSuffix mat-icon-button (click)="applySearch()">
        <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
      </button>
    </mat-form-field>

  </mat-toolbar>
  <div *ngIf="!tasksAvailable && loadView" align="center" class="new-tasks-label">
    <mat-chip color="primary" selected> No Tasks Available</mat-chip>
  </div>
  <div *ngIf="!(tasks || postedTasks || assignedTasks) && tasksAvailable">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="tasks-div">
  </div>
  <mat-sidenav-container *ngIf="(tasks || postedTasks || assignedTasks)" class="tasks-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 61 : 60">
    <mat-sidenav *ngIf="!(mobileQuery.matches && mobiletaskselected)" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened [fixedInViewport]="mobileQuery.matches" class="sidenav-test"
      fixedTopGap="56" [style.width.%]="mobileQuery.matches ? 100 : 30" [style.marginTop.px]="mobileQuery.matches ? 60 : 0">
      <div *ngIf="tasksAvailable && !mytasksview" align="center" class="new-tasks-label">
        <mat-chip [style.left.%]="mobileQuery.matches ? 37 : 11" style="z-index: 2; position: fixed; min-width: 7%;" color="primary" class="chip-borders" selected> {{tasks.length}} New Tasks</mat-chip>
      </div>
      <mat-nav-list class="my-list-1">

        <!-- All -->
        <div *ngIf="!mytasksview">
          <mat-list-item *ngFor="let task of tasks">
            <mat-card class="task-card mat-elevation-z8" routerLink="/{{routerLinkBase}}/{{task.Id}}"
              [routerLinkActive]="['is-active']" (click)="viewTask(task)" >
              <mat-card-header>
                <img mat-card-avatar [src]="task.CreatorPicture">
                <mat-card-title><span class="task-summary-label text">
                    <h3>{{task.Summary | titlecase | slice:0:35 }}{{ (task.Summary.length>35)? '..':' ' }}</h3>
                  </span></mat-card-title>
              </mat-card-header>
              <mat-card-content class="task-content">
                <div><span style="float: right;">
                    <h2>${{task.Price}}</h2>
                  </span></div>
                <div class="task-card-content" style="margin-left: 4px;">
                  <mat-icon style="font-size: 21px;">location_on</mat-icon><span class="task-card-text">{{task.TaskLocation
                    | titlecase | slice:0:36 }}{{ (task.TaskLocation.length>36)? '..':' ' }}</span>
                </div>
                <div class="task-card-content">
                  <mat-icon style="font-size: 16px;">calendar_today</mat-icon><span class="task-card-text">{{(task.DueDate
                    | date: 'EEE, MMM d') ? (task.DueDate
                    | date: 'EEE, MMM d') : task.DueDate }}</span>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <div class="line-duedate"></div>
                <span class="task-status-{{task.TaskStatus}}"><strong>{{task.TaskStatus}}</strong></span>&nbsp;<span
                  *ngIf="task.NumberOfOffers != '0'" style="font-size: 11px;">~ Offers ({{task.NumberOfOffers}})</span>
              </mat-card-actions>
            </mat-card>
          </mat-list-item>
        </div>

        <!-- Drafts -->
        <div *ngIf="mytasksview && draftTasksAvailable && draftTasks">
          <div align="center">
            <mat-chip color="primary" selected> Draft Tasks ({{draftTasks.length}})</mat-chip>
          </div>
          <div style="margin-top: 11px">
          </div>
          <div *ngFor="let task of draftTasks">
            <mat-list-item *ngIf="mytasksview && (task.TaskStatus == 'Draft')">
              <div>
                <mat-card class="task-card mat-elevation-z8" routerLink="/{{routerLinkBase}}/{{task.Id}}"
                  [routerLinkActive]="['is-active']" (click)="viewTask(task)">
                  <mat-card-header>
                    <img mat-card-avatar [src]="task.CreatorPicture">
                    <mat-card-title><span class="task-summary-label text">
                        <h3>{{task.Summary | titlecase | slice:0:35 }}{{ (task.Summary.length>35)? '..':' ' }}</h3>
                      </span></mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="task-content">
                    <div><span style="float: right;">
                        <h2>${{task.Price}}</h2>
                      </span></div>
                    <div class="task-card-content" style="margin-left: 4px;">
                      <mat-icon style="font-size: 21px;">location_on</mat-icon><span class="task-card-text">{{task.TaskLocation
                        | titlecase | slice:0:36 }}{{ (task.TaskLocation.length>36)? '..':' ' }}</span>
                    </div>
                    <div class="task-card-content">
                      <mat-icon style="font-size: 16px;">calendar_today</mat-icon><span class="task-card-text">{{task.DueDate
                        | date: 'EEE, MMM d'}}</span>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="line-duedate"></div>
                    <span class="task-status-{{task.TaskStatus}}"><strong>{{task.TaskStatus}}</strong></span>&nbsp;<span
                      *ngIf="task.NumberOfOffers != '0'" style="font-size: 11px;">~ Offers ({{task.NumberOfOffers}})</span>
                  </mat-card-actions>
                </mat-card>
              </div>
            </mat-list-item>
          </div>
        </div>
        <!-- Assigned -->
        <div *ngIf="mytasksview && assignedTasksAvailable && assignedTasks">
          <div align="center">
            <mat-chip color="primary" selected> Assigned Tasks ({{assignedTasks.length}})</mat-chip>
          </div>
          <div style="margin-top: 11px">
          </div>
          <div *ngFor="let task of assignedTasks">
            <mat-list-item *ngIf="mytasksview && (task.TaskStatus == 'Assigned')">
              <div>
                <mat-card class="task-card mat-elevation-z8" routerLink="/{{routerLinkBase}}/{{task.Id}}"
                  [routerLinkActive]="['is-active']" (click)="viewTask(task)">
                  <mat-card-header>
                    <img mat-card-avatar [src]="task.CreatorPicture">
                    <mat-card-title><span class="task-summary-label text">
                        <h3>{{task.Summary | titlecase | slice:0:35 }}{{ (task.Summary.length>35)? '..':' ' }}</h3>
                      </span></mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="task-content">
                    <div><span style="float: right;">
                        <h2>${{task.Price}}</h2>
                      </span></div>
                    <div class="task-card-content" style="margin-left: 4px;">
                      <mat-icon style="font-size: 21px;">location_on</mat-icon><span class="task-card-text">{{task.TaskLocation
                        | titlecase | slice:0:36 }}{{ (task.TaskLocation.length>36)? '..':' ' }}</span>
                    </div>
                    <div class="task-card-content">
                      <mat-icon style="font-size: 16px;">calendar_today</mat-icon><span class="task-card-text">{{task.DueDate
                        | date: 'EEE, MMM d'}}</span>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="line-duedate"></div>
                    <span class="task-status-{{task.TaskStatus}}"><strong>{{task.TaskStatus}}</strong></span>&nbsp;<span
                      *ngIf="task.NumberOfOffers != '0'" style="font-size: 11px;">~ Offers ({{task.NumberOfOffers}})</span>
                  </mat-card-actions>
                </mat-card>
              </div>
            </mat-list-item>
          </div>
        </div>
        <!-- Posted -->
        <div *ngIf="mytasksview && postedTasksAvailable && postedTasks">
          <div align="center" style="margin-top: 11px">
            <mat-chip color="primary" selected> Posted Tasks ({{postedTasks.length}})</mat-chip>
          </div>
          <div style="margin-top: 11px">
          </div>
          <div *ngFor="let task of postedTasks">
            <mat-list-item>
              <div>
                <mat-card class="task-card mat-elevation-z8" routerLink="/{{routerLinkBase}}/{{task.Id}}"
                  [routerLinkActive]="['is-active']" (click)="viewTask(task)">
                  <mat-card-header>
                    <img mat-card-avatar [src]="task.CreatorPicture">
                    <mat-card-title><span class="task-summary-label text">
                        <h3>{{task.Summary | titlecase | slice:0:35 }}{{ (task.Summary.length>35)? '..':' ' }}</h3>
                      </span></mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="task-content">
                    <div><span style="float: right;">
                        <h2>${{task.Price}}</h2>
                      </span></div>
                    <div class="task-card-content" style="margin-left: 4px;">
                      <mat-icon style="font-size: 21px;">location_on</mat-icon><span class="task-card-text">{{task.TaskLocation
                        | titlecase | slice:0:36 }}{{ (task.TaskLocation.length>36)? '..':' ' }}</span>
                    </div>
                    <div class="task-card-content">
                      <mat-icon style="font-size: 16px;">calendar_today</mat-icon><span class="task-card-text">{{task.DueDate
                        | date: 'EEE, MMM d'}}</span>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="line-duedate"></div>
                    <span class="task-status-{{task.TaskStatus}}"><strong>{{task.TaskStatus}}</strong></span>&nbsp;<span
                      *ngIf="task.NumberOfOffers != '0'" style="font-size: 11px;">~ Offers ({{task.NumberOfOffers}})</span>
                  </mat-card-actions>
                </mat-card>
              </div>
            </mat-list-item>
          </div>
        </div>
        <!-- Offers Pending -->
        <div *ngIf="mytasksview && pendingTasksAvailable && pendingTasks">
          <div align="center" style="margin-top: 11px">
            <mat-chip color="primary" selected>Pending Tasks ({{pendingTasks.length}})</mat-chip>
          </div>
          <div style="margin-top: 11px">
          </div>
          <div *ngFor="let task of pendingTasks">
            <mat-list-item>
              <div>
                <mat-card class="task-card mat-elevation-z8" routerLink="/{{routerLinkBase}}/{{task.Id}}"
                  [routerLinkActive]="['is-active']" (click)="viewTask(task)">
                  <mat-card-header>
                    <img mat-card-avatar [src]="task.CreatorPicture">
                    <mat-card-title><span class="task-summary-label text">
                        <h3>{{task.Summary | titlecase | slice:0:35 }}{{ (task.Summary.length>35)? '..':' ' }}</h3>
                      </span></mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="task-content">
                    <div><span style="float: right;">
                        <h2>${{task.Price}}</h2>
                      </span></div>
                    <div class="task-card-content" style="margin-left: 4px;">
                      <mat-icon style="font-size: 21px;">location_on</mat-icon><span class="task-card-text">{{task.TaskLocation
                        | titlecase | slice:0:36 }}{{ (task.TaskLocation.length>36)? '..':' ' }}</span>
                    </div>
                    <div class="task-card-content">
                      <mat-icon style="font-size: 16px;">calendar_today</mat-icon><span class="task-card-text">{{task.DueDate
                        | date: 'EEE, MMM d'}}</span>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="line-duedate"></div>
                    <span class="task-status-{{task.TaskStatus}}"><strong>{{task.TaskStatus}}</strong></span>&nbsp;<span
                      *ngIf="task.NumberOfOffers != '0'" style="font-size: 11px;">~ Offers ({{task.NumberOfOffers}})</span>
                  </mat-card-actions>
                </mat-card>
              </div>
            </mat-list-item>
          </div>
        </div>
        <!-- Completed -->
        <div *ngIf="mytasksview && completedTasksAvailable && completedTasks">
          <div align="center" style="margin-top: 11px">
            <mat-chip color="primary" selected>Completed Tasks ({{completedTasks.length}})</mat-chip>
          </div>
          <div style="margin-top: 11px">
          </div>
          <div *ngFor="let task of completedTasks">
            <mat-list-item>
              <div>
                <mat-card class="task-card mat-elevation-z8" routerLink="/{{routerLinkBase}}/{{task.Id}}"
                  [routerLinkActive]="['is-active']" (click)="viewTask(task)">
                  <mat-card-header>
                    <img mat-card-avatar [src]="task.CreatorPicture">
                    <mat-card-title><span class="task-summary-label text">
                        <h3>{{task.Summary | titlecase | slice:0:35 }}{{ (task.Summary.length>35)? '..':' ' }}</h3>
                      </span></mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="task-content">
                    <div><span style="float: right;">
                        <h2>${{task.Price}}</h2>
                      </span></div>
                    <div class="task-card-content" style="margin-left: 4px;">
                      <mat-icon style="font-size: 21px;">location_on</mat-icon><span class="task-card-text">{{task.TaskLocation
                        | titlecase | slice:0:36 }}{{ (task.TaskLocation.length>36)? '..':' ' }}</span>
                    </div>
                    <div class="task-card-content">
                      <mat-icon style="font-size: 16px;">calendar_today</mat-icon><span class="task-card-text">{{task.DueDate
                        | date: 'EEE, MMM d'}}</span>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="line-duedate"></div>
                    <span class="task-status-{{task.TaskStatus}}"><strong>{{task.TaskStatus}}</strong></span>&nbsp;<span
                      *ngIf="task.NumberOfOffers != '0'" style="font-size: 11px;">~ Offers ({{task.NumberOfOffers}})</span>
                  </mat-card-actions>
                </mat-card>
              </div>
            </mat-list-item>
          </div>
        </div>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [style.width.%]="mobileQuery.matches ? 100 : 70" class="sidenav-test2">
      <div *ngIf="showTaskDetails && (!mobileQuery.matches || mobiletaskselected)">
        <app-task-view [task]="selectedTask"></app-task-view>
      </div>
      <div *ngIf="!showTaskDetails && tasksAvailable" style=" text-align: center;">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

