.tasks-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 51px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-form-field.mat-form-field {
  font-size: 12px;
  margin-top: 16px;
}

.tasks-is-mobile .tasks-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.line-duedate{
  border-bottom: 1px solid #D0D0D0;
}

.tasks-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.tasks-div{
  margin-top: 4px;
}

.tasks-is-mobile .tasks-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

img {
  border-radius: 50%;
}

.chip-borders{
  border-radius: 4%;

}

.task-card {
  width: 100%;
  min-width: 260px;
  border-left: 4px solid #2196f3;
}

/* .mat-card:active {
  border: 4px solid #2196f3;
} */
.is-active {
  /* border: 2px solid #2196f3; */
  box-shadow: 0 0px 20px 0 #2196f3, 0 0px 20px 0 #2196f3;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.my-list-1 .mat-list-item {
  height: 159px;
  width: 425;
}

/* .task-view {
  margin-left: 400px;
} */

.toolbar-properties{
  background-color: white;
  margin-bottom: 5px;
  position: absolute;
}

.new-tasks-label{
  margin-top: 5px;
  margin-bottom: 30px;
}

.search-toolbar-form {
  font-size: 15px;
}

.header-spacer {
  flex: 1 1 auto;
}

.sidenav-test{
  width: 30%;
}
.sidenav-test2{
  width: 70%;
  float: right;
}


.mat-toolbar-single-row {
  height: 58px;
}
.task-status-Open{
  margin-left: 25px;
  font-size: 13px;
  color: #2196f3;
}

.black {
  color: rgba(0, 0, 0, 0.87);
}

.blue {
  color: #2196f3;
}

.task-status-Open:hover{
  margin-left: 25px;
  font-size: 13px;
  color: black;
}

.task-status-Assigned{
  margin-left: 25px;
  font-size: 13px;
  color: #2196f3;
}

.task-status-Assigned:hover{
  margin-left: 25px;
  font-size: 13px;
  color: black;
}

.task-status-Completed{
  margin-left: 25px;
  font-size: 13px;
  color: #2196f3;
}

.task-status-Completed:hover{
  margin-left: 25px;
  font-size: 13px;
  color: black;
}

.task-card-text{
  font-size: 12px;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px; 
}

.task-card-content{
  margin-left: 7px;
}

.task-content{
  margin-top: 5px;
  margin-bottom: -8px;
}

.task-summary-label{
  position: absolute;
  margin-top: 10px;
}

.text {
  display: block;
  width: 267px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}