<div class="section-parameters">
  <div>Suburb</div>
  <mat-form-field appearance="outline" style="margin-top: 15px ; font-size: 12px; width: 252px">
      <input matInput placeholder="Enter a suburb"  maxlength="20" type="search"
        ngx-google-places-autocomplete [options]='countryOptions' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
    </mat-form-field>
</div>
<div class="section-actions">
<div class="line"></div>
<div class="row">
  <button mat-stroked-button color="primary"  (click)="cancel()">Cancel</button>
  <button style="margin-left: 75px" mat-stroked-button color="primary"  (click)="apply()">Apply</button>
</div>
</div>
