<div class="section-parameters">
    <div>Available tasks only</div>
    <div style="margin-top: 25px ; width: 234px">
<mat-slide-toggle color="primary" [(ngModel)]="hide">Hide tasks that are assigned</mat-slide-toggle>
</div>
  </div>
  <div class="section-actions">
  <div class="line"></div>
  <div class="row">
    <button mat-stroked-button color="primary"  (click)="cancel()">Cancel</button>
    <button style="margin-left: 76px" mat-stroked-button color="primary"  (click)="apply()">Apply</button>
  </div>
  </div>
  