<div class="col-xs-8">
  <div *ngIf="taskViewloading" class="text-center" style="margin-left: 50%;">
      <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <div *ngIf="!taskViewloading" class="task-details">
    <div class="task-header">
      <div [style.width.%]="mobileQuery.matches ? 100 : 70" class="details-panel">
        <div class="row">
          <!-- <mat-chip-list> -->
            <strong style="color: #2196f3">Open</strong>
           
            <strong class="status-spacing-assigned" *ngIf="task.TaskStatus=='Assigned' || task.TaskStatus=='Completed'" style="color: #2196f3; ">Assigned</strong>
            <strong class="status-spacing-assigned"*ngIf="task.TaskStatus!='Assigned' && task.TaskStatus!='Completed'">Assigned</strong>
          
            <strong [style.margin-left.%]="mobileQuery.matches ? 19 : 38" class="status-spacing-completed" *ngIf="task.TaskStatus=='Completed'" style="color: #2196f3;">Completed</strong>
            <strong [style.margin-left.%]="mobileQuery.matches ? 19 : 38" class="status-spacing-completed"*ngIf="task.TaskStatus!='Completed'" >Completed</strong>
          <!-- </mat-chip-list> -->
          <mat-progress-bar *ngIf="task.TaskStatus=='Open'" mode="determinate" value="33.3"></mat-progress-bar>
          <mat-progress-bar *ngIf="task.TaskStatus=='Assigned'" mode="determinate" value="66.6"></mat-progress-bar>
          <mat-progress-bar *ngIf="task.TaskStatus=='Completed'" mode="determinate" value="100"></mat-progress-bar>
        </div>

        <div class="posted-details-holder">
          <div class="row task-view-gap">
            <span class="task-summary-label">
              <h1>{{task.Summary | titlecase}}</h1>
            </span>
          </div>
          <div class="row task-view-gap">
            <div><img mat-card-avatar [src]="task.CreatorPicture" style="height: 40px;width: 40px;border-radius: 50%;">
              <span class="task-card-text-posted-by">
                <span class="small-title">&nbsp;POSTED BY</span>
              </span>
              <span class="task-card-text">
                <h5>&nbsp;{{task.CreatorName | titlecase}}</h5>
                <!-- <span class="task-view-spacer"></span>  -->
              </span>
              <span style="float: right; font-size: 12px; color: grey">{{taskCreatedDate | timeAgo}}</span>
            </div>
          </div>
          <div class="line-location"></div>
          <div class="row task-view-gap">
            <div>
              <span class="task-card-text-location-header">
                <span class="small-title">&nbsp;LOCATION</span>
              </span>
              <mat-icon style="font-size: 36px;">location_on</mat-icon><span class="task-card-text-location">
                <h5>&nbsp;{{task.TaskLocation | titlecase | slice:0:48 }}{{ (task.TaskLocation.length>48)? '..':' ' }}</h5>
              </span>
            </div>
          </div>
          <div class="line-postedby"></div>
          <div class="row task-view-gap">
            <div>
              <span class="task-card-text-duedate-header">
                <span class="small-title">&nbsp;DUE DATE</span>
              </span>
              <mat-icon style="font-size: 26px; margin-left: 6px;">calendar_today</mat-icon><span class="task-card-text-duedate">
                <h5>&nbsp;{{(task.DueDate | date: 'EEEE, MMMM d, y')? (task.DueDate | date: 'EEEE, MMMM d, y') : task.DueDate }}</h5>
              </span>
            </div>
          </div>
          <div class="line-duedate"></div>
        </div>
      </div>
      <div [style.width.%]="mobileQuery.matches ? 90 : 18" class="sidebar text-center">
        <div class="payment_panel">
          <div class="small-title ">TASK BUDGET</div>
          <div class="line-budget-price"></div>
          <h2>${{task.Price}}</h2>
          <div *ngIf="(task.CreatorId != user_sub)  && (task.TaskStatus != 'Assigned' && task.TaskStatus != 'Completed') && (!hasAlreadyMadeAnOffer)"
            class="line-budget-footer"></div>
          <button *ngIf="(task.CreatorId != user_sub)  && (task.TaskStatus != 'Assigned' && task.TaskStatus != 'Completed') && (!hasAlreadyMadeAnOffer)"
            mat-raised-button color="primary" class="chip-borders" style="margin-bottom: 6px;" (click)="makeOffer()">Make
            an offer</button>
        </div>
        <div class="task-options">
        </div>
        <div class="share-container text-center">
          <div>
            <p class="share-text">SHARE</p>
          </div>

          <button mat-icon-button shareButton="facebook" #fbBtn [style.color]="share.prop.facebook.color">
            <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
          </button>
          <button mat-icon-button shareButton="twitter" #twtBtn [style.color]="share.prop.twitter.color">
            <fa-icon [icon]="share.prop.twitter.icon" size="lg"></fa-icon>
          </button>
          <button mat-icon-button shareButton="linkedin" #inBtn [style.color]="share.prop.linkedin.color">
            <fa-icon [icon]="share.prop.linkedin.icon" size="lg"></fa-icon>
          </button>
          <button mat-icon-button shareButton="whatsapp" #wtsBtn [style.color]="share.prop.whatsapp.color">
            <fa-icon [icon]="share.prop.whatsapp.icon" size="lg"></fa-icon>
          </button>
        </div>
        <div *ngIf="task.CreatorId != user_sub" class="flag-content text-center">
          <a>
            <mat-icon>outlined_flag</mat-icon><span class="task-card-text-report">Report this task</span>
          </a>
        </div>
      </div>
    </div>
    <div class="task-content-section">
      <div class="row task-view-gap">
        <span class="small-title">DETAILS</span>
        <h5>{{task.Description}}</h5>
      </div>
      <div class="row task-view-gap" *ngIf="task.MustHaves">
        <span class="small-title">MUST-HAVES</span>
        <ul>
          <li *ngFor="let mustHave of task.MustHaves">
            <h5>{{mustHave}}</h5>
          </li>
        </ul>
      </div>
      <div *ngIf="offers" class="row task-view-gap">
        <span *ngIf="task.TaskStatus != 'Assigned' &&  task.TaskStatus != 'Completed'" class="small-title">OFFERS({{offers.length}})</span>
        <span *ngIf="task.TaskStatus == 'Assigned' ||  task.TaskStatus == 'Completed'" class="small-title">ASSIGNEE</span>
        <ul *ngIf="offers" style="list-style-type:none">
          <div *ngFor="let offer of offers">
            <div class="offer-wrapper">
              <div class="offer-summary">
                <div class="offer-userinfo">
                  <div><img mat-card-avatar [src]="offer.CreatorPicture" style="height: 40px;width: 40px;border-radius: 50%;">
                    <span class="task-card-text-posted-by">
                      <span>&nbsp;<a style="color: #2196f3">{{offer.CreatorName | titlecase}}</a> </span>
                    </span>
                    <span class="task-card-text">
                      <span>
                        <rating [(ngModel)]="starsCount" [readonly]="true" [float]="true"></rating>
                      </span><span>50% Completion rate&nbsp;<mat-icon style="font-size: 15px; margin-left: 6px;"
                          matTooltip="The percentage of accepted tasks this Tasker has completed.">info</mat-icon></span>
                          <span><button *ngIf="(task.CreatorId == user_sub) && (task.TaskStatus == 'Open')" mat-raised-button color="primary"
                            class="chip-borders" (click)="assign(offer)">Assign</button></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="offer-comment-container" [style.margin-top.px]="mobileQuery.matches && ((task.CreatorId == user_sub) && (task.TaskStatus == 'Open')) ? 30 : 0">
                <div class="offer-comment-container-wrapper">
                  {{offer.Summary}}
                  <span *ngIf="(offer.CreatorId == user_sub) && (task.TaskStatus == 'Open')">
                    <button mat-icon-button (click)="editOffer(offer)">
                      <mat-icon style="font-size: 18px;">edit</mat-icon>
                    </button>
                  </span>
                  <div><span style="font-size: 10px; color: grey">{{offer.TempCreatedAt | timeAgo}}</span>&nbsp;&nbsp;&nbsp;<button *ngIf="(offer.CreatorId != user_sub) && (task.TaskStatus == 'Open')"
                      (click)="reply(offer)" style="font-size: 12px; color: #2196f3" mat-icon-button>
                      <mat-icon>swap_horiz</mat-icon>Reply
                    </button></div>
                </div>
                <div class="offer-replies">
                    <div *ngFor="let offerReply of offer.Replies">
                        <div class="offerReply-wrapper">
                          <div class="offerReply-summary">
                            <div>
                                <div><img mat-card-avatar [src]="offerReply.CreatorPicture" style="height: 40px;width: 40px;border-radius: 50%;">
                                  <span class="task-card-text-posted-by">
                                    <span>&nbsp;<a style="color: #2196f3">{{offerReply.CreatorName | titlecase}} </a></span>
                                  </span>
                                  <span class="task-card-text-offer-reply">
                                    <span>&nbsp;{{offerReply.Summary}}</span>
                                    <div *ngIf="(offerReply.CreatorId != user_sub) && (task.TaskStatus == 'Open')" style="margin-top: -10px; margin-left: 3px"><span
                                        style="font-size: 10px; color: grey">{{offerReply.TempCreatedAt | timeAgo}}</span>&nbsp;&nbsp;&nbsp;<button
                                        (click)="reply(offer)" style="font-size: 12px; color: #2196f3" mat-icon-button>
                                        <mat-icon>swap_horiz</mat-icon>Reply
                                      </button></div>
                                      <div *ngIf="!((offerReply.CreatorId != user_sub) && (task.TaskStatus == 'Open'))" style="margin-left: 3px"><span
                                        style="font-size: 10px; color: grey">{{offerReply.TempCreatedAt | timeAgo}}</span></div>
                                 </span>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="offer-comment-container-meta">
                </div>
              </div>
            </div>
          </div>
        </ul>
        <div *ngIf="(!offers || offers == '') && (task.CreatorId != user_sub) && (!hasAlreadyMadeAnOffer)" class="text-center"><button
            mat-raised-button color="primary" class="chip-borders" style="margin-bottom: 6px;" (click)="makeOffer()">Make
            an offer</button></div>
      </div>
      <div class="line-offers"></div>
      <div *ngIf="questions" class="row task-view-gap">
        <span class="small-title">QUESTIONS ({{questions.length}})</span>
        <h4>Please don't share personal info – insurance won't apply to tasks not done through Afritasks!</h4>
        <div *ngIf="(task.CreatorId != user_sub) && !questionloading && user_sub && (task.TaskStatus != 'Assigned' && task.TaskStatus != 'Completed') && (!hasAlreadyAskedQuestion)"
          class="add-comment-form">
          <div><img mat-card-avatar [src]="user_picture" style="height: 40px;width: 40px;border-radius: 50%;">
            <span>
              <span class="task-question-text">
                <form [formGroup]="questionFormGroup">
                  <mat-form-field appearance="outline" style="width: 570px;">
                    <textarea matInput #taskDescription [(ngModel)]="model.Summary" placeholder="Ask a question"
                      rows="3" cols="50" formControlName="secondCtrl" minlength="25" maxlength="1500"></textarea>
                    <mat-hint align="end">{{taskDescription.value.length}} / 1500 <button mat-button color="primary"
                        (click)="saveQuestion()">Send</button></mat-hint>
                  </mat-form-field>
                </form>
              </span>
            </span>
          </div>
        </div>
        <div *ngIf="questionloading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div *ngIf="(task.CreatorId != user_sub) && !questionloading && user_sub && (task.TaskStatus != 'Assigned' && task.TaskStatus != 'Completed') && (!hasAlreadyAskedQuestion)"
          class="question-divider">
        </div>
        <div *ngFor="let question of questions">
          <div class="question-wrapper">
            <div class="question-summary">
              <div class="question-userinfo">
                <div><img mat-card-avatar [src]="question.CreatorPicture" style="height: 40px;width: 40px;border-radius: 50%;">
                  <span class="task-card-text-posted-by">
                    <span>&nbsp;<a style="color: #2196f3">{{question.CreatorName | titlecase}} </a></span>
                  </span>
                  <span *ngIf="(question.CreatorId == user_sub)" class="task-card-text-question">
                    <span>&nbsp;{{question.Summary}}</span>
                    <span *ngIf="(question.CreatorId == user_sub) && (task.TaskStatus == 'Open')">
                      <button mat-icon-button (click)="editQuestion(question)">
                        <mat-icon style="font-size: 18px;">edit</mat-icon>
                      </button>
                    </span>
                    <div *ngIf="(question.CreatorId == user_sub) && (task.TaskStatus == 'Open')" style="margin-top: -16px; margin-left: 3px"><span
                        style="font-size: 10px; color: grey">{{question.TempCreatedAt | timeAgo}}</span>&nbsp;&nbsp;&nbsp;<button *ngIf="(question.CreatorId != user_sub) && (task.TaskStatus == 'Open')"
                        (click)="reply(question)" style="font-size: 12px; color: #2196f3" mat-icon-button>
                        <mat-icon>swap_horiz</mat-icon>Reply
                      </button></div>
                    <div *ngIf="(question.CreatorId != user_sub)" style=" margin-left: 3px"><span style="font-size: 10px; color: grey">{{question.TempCreatedAt
                        | timeAgo}}</span>&nbsp;&nbsp;&nbsp;<button  *ngIf="(question.CreatorId != user_sub) && (task.TaskStatus == 'Open')" (click)="reply(question)" style="font-size: 12px; color: #2196f3"
                        mat-icon-button>
                        <mat-icon>swap_horiz</mat-icon>Reply
                      </button></div>
                  </span>

                  <span *ngIf="(question.CreatorId != user_sub)" class="task-card-text-question2">
                    <span>&nbsp;{{question.Summary}}</span>
                    <span *ngIf="(question.CreatorId == user_sub) && (task.TaskStatus == 'Open')">
                      <button mat-icon-button (click)="editQuestion(question)">
                        <mat-icon style="font-size: 18px;">edit</mat-icon>
                      </button>
                    </span>
                    <div *ngIf="(question.CreatorId == user_sub) && (task.TaskStatus == 'Open')" style="margin-top: -18px; margin-left: 3px"><span
                        style="font-size: 10px; color: grey">{{question.TempCreatedAt | timeAgo}}</span>&nbsp;&nbsp;&nbsp;<button  *ngIf="(question.CreatorId != user_sub) && (task.TaskStatus == 'Open')"
                        (click)="reply(question)" style="font-size: 12px; color: #2196f3" mat-icon-button>
                        <mat-icon>swap_horiz</mat-icon>Reply
                      </button></div>
                    <div *ngIf="(question.CreatorId != user_sub)" style=" margin-left: 3px"><span style="font-size: 10px; color: grey">{{question.TempCreatedAt
                        | timeAgo}}</span> &nbsp;&nbsp;&nbsp;<button  *ngIf="(question.CreatorId != user_sub) && (task.TaskStatus == 'Open')" (click)="reply(question)" style="font-size: 12px; color: #2196f3"
                        mat-icon-button>
                        <mat-icon>swap_horiz</mat-icon>Reply
                      </button>
                    </div>
                  </span>

                </div>
              </div>
            </div>

            <div class="question-replies">
                <div *ngFor="let questionReply of question.Replies">
                    <div class="questionReply-wrapper" [style.margin-top.px]="mobileQuery.matches ? 30 : 6">
                      <div class="questionReply-summary">
                        <div>
                            <div><img mat-card-avatar [src]="questionReply.CreatorPicture" style="height: 40px;width: 40px;border-radius: 50%;">
                              <span class="task-card-text-posted-by">
                                <span>&nbsp;<a style="color: #2196f3">{{questionReply.CreatorName | titlecase}} </a></span>
                              </span>
                              <span class="task-card-text-question-reply">
                                <span>&nbsp;{{questionReply.Summary}}</span>
                                <div *ngIf="(questionReply.CreatorId != user_sub) && (task.TaskStatus == 'Open')"  style="margin-top: -10px; margin-left: 3px"><span
                                    style="font-size: 10px; color: grey">{{questionReply.TempCreatedAt | timeAgo}}</span>&nbsp;&nbsp;&nbsp;<button
                                    (click)="reply(question)" style="font-size: 12px; color: #2196f3" mat-icon-button>
                                    <mat-icon>swap_horiz</mat-icon>Reply
                                  </button></div>
                                  <div *ngIf="!((questionReply.CreatorId != user_sub) && (task.TaskStatus == 'Open'))" style="margin-left: 3px"><span
                                    style="font-size: 10px; color: grey">{{questionReply.TempCreatedAt | timeAgo}}</span></div>
                             </span>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>





          </div>
        </div>
      </div>
    </div>
    <div *ngIf="(!user_id_token || !user_access_token) && (task.TaskStatus != 'Assigned' && task.TaskStatus != 'Completed')"
      class="row task-view-gap text-center">
      <h4>To join the conversation</h4>
      <button mat-raised-button color="primary" class="chip-borders" (click)="login()">Join Afritasks</button>
      &nbsp; or &nbsp;
      <button mat-raised-button color="primary" class="chip-borders" (click)="login()">Log in</button>
    </div>
    <div class="col-xs-4">
    </div>
  </div>
