.task-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
  }
.task-view-spacer{
  flex: 1 1 auto;
}

  .task-header{
    margin: 10px 20px;
  }

  .details-panel{
    float: left;
    position: relative;
    width: 70%;
  }

  .line-postedby{
    border-bottom: 1px solid #D0D0D0;
    margin-left: 48px;
    margin-bottom: 12px;
  }

  .line-budget-price{
    border-bottom: 1px solid #D0D0D0;
    margin-top: 21px;
  }

  .line-budget-footer{
    border-bottom: 1px solid #D0D0D0;
    margin-bottom: 8px;
  }

  .line-location{
    border-bottom: 1px solid #D0D0D0;
    margin-left: 48px;
    margin-bottom: 5px;
  }

  .line-duedate{
    border-bottom: 1px solid #D0D0D0;
    margin-left: 48px;
  }

  .line-offers{
    border-bottom: 1px solid #D0D0D0;
  }
  .chip-borders{
    border-radius: 4%;
  
  }
  .sidebar{
    min-width: 160px;
    float: right;
    border-radius: 4px;
    width: 18%;
    margin-bottom: 10px;
    margin-right: 5%;
  }

  .payment_panel{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(202, 215, 220);
    border-image: initial;
    border-radius: 6px;
  }

  .task-options{
    margin-top: 10px;
  }

  .share-container{
    border-radius: 6px;
    border: 1px solid #f5f9fb;
    margin-top: 20px;
  }

  .flag-content{
    color: #cad7dc;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: -85px;
  }
  .flag-content:hover{
    color: #363636;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: -85px;
  }

  .share-text{
    background: #fff;
    position: relative;
    top: -10px;
    width: 30%;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .67px;
    text-transform: uppercase;
    margin: 0;
  }

  .task-card-text-report{
    font-size: 12px;
    position: absolute;
  }

  .task-content-section{
    margin-left: 26px; 
    width: 70%;
  }

  .task-view-gap {
    margin-bottom: 5px;
    padding-top: 1rem;
}
.task-card-text{
    font-size: 12px;
    position: absolute;
    margin-top: 21px;
    margin-left: 6px; 
  }

  .question-spacer{
    margin-top: 2px;
  }

  .task-card-text-question{
    font-size: 12px;
    position: absolute;
    margin-top: 12px;
    margin-left: 6px; 
  }

  .task-card-text-offer-reply{
    font-size: 12px;
    position: absolute;
    margin-top: 22px;
    margin-left: 6px; 
  }

  .task-card-text-question-reply{
    font-size: 12px;
    position: absolute;
    margin-top: 22px;
    margin-left: 6px; 
  }

  .task-card-text-question2{
    font-size: 12px;
    position: absolute;
    margin-top: 21px;
    margin-left: 6px; 
  }
  .task-card-text-posted-by{
    font-size: 12px;
    position: absolute;
    margin-top: 0px;
    margin-left: 6px; 
  }

  .task-card-text-location{
    font-size: 12px;
    position: absolute;
    margin-top: 19px;
    margin-left: 23px; 
  }

  .task-card-text-location-header{
    font-size: 12px;
    position: absolute;
    margin-top: -4px;
    margin-left: 46px; 
  }

  .task-card-text-duedate{
    font-size: 12px;
    position: absolute;
    margin-top: 13px;
    margin-left: 17px; 
  }

  .task-card-text-duedate-header{
    font-size: 12px;
    position: absolute;
    margin-top: -7px;
    margin-left: 46px; 
  }

  .with-round-borders{
    border-radius: 40px;
  }

  .with-round-borders-assign{
    border-radius: 40px;
    line-height: 29px;
    min-width: 70px;
  }

  .small-title {
    font-size: 12px;
    letter-spacing: .4px;
    text-transform: uppercase;
}

.posted-details-holder{
    margin-bottom: 25px;
}

.offer-comment-container-wrapper{
  background: rgb(245, 249, 251);
  border-radius: 4px;
  padding: 8px;
  display: block;
  font-size: 12px;
}

.offer-wrapper{
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding: 0px 0px 8px;
  margin-left: -40px;
}

.status-spacing-assigned{
  margin-left: 33%;
}

.status-spacing-completed{
  margin-left: 38%;
}

.offer-summary{
  display: flex;
  margin: 0px 0px 8px;
}

.offerReply-wrapper{
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding: 0px 0px 8px;
  margin-top: 6px;
}

.offerReply-summary{
  display: flex;
  margin: 0px 0px 8px;
}

.questionReply-wrapper{
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding: 0px 0px 8px;
  margin-top: 6px;
}

.questionReply-summary{
  display: flex;
  margin: 0px 0px 8px;
}

.offer-comment-container{
  margin: 0px 0px 0px 48px;
}

.offer-comment-container-meta{
  line-height: 16px;
  font-size: 11px;
  color: rgb(131, 144, 148);
  letter-spacing: 0.15px;
  margin: 4px 0px 0px;
  display: block;
}

.add-comment-form{
  margin-bottom: 28px;
  display: table;
  position: relative;
}

.task-question-text{
  font-size: 12px;
  position: absolute;
  margin-left: 6px; 
}

.question-comment-container-wrapper{
  background: rgb(245, 249, 251);
  border-radius: 4px;
  padding: 8px;
  display: block;
}

.question-wrapper{
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding: 0px 0px 8px;
  margin-bottom: 20px;

}

.question-divider{
  margin-top: 68px;
}

.question-summary{
  display: flex;
  margin: 0px 0px 8px;
}

.question-comment-container{
  margin: 0px 0px 0px 48px;
}

.question-comment-container-meta{
  line-height: 16px;
  font-size: 11px;
  color: rgb(131, 144, 148);
  letter-spacing: 0.15px;
  margin: 4px 0px 0px;
  display: block;
}

.question-replies{
  margin-top: 38px;
  margin-left: 40px;
}