<section class="call-to-action gap primary-bg">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666">
        <h2>Looking to earn some extra money or choose when and how you work?</h2>
        <p>Earn up to $5,000 a month on Afritasks*.</p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" mat-lg-button class="with-round-borders" (click)="openTaskCreate()">Become a worker </button>
      </div>
    </div>
  </div>
</section>