<div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  
  <div *ngIf="!loading">
    <div class="row text-center">
      <h3>Assign</h3>
    </div>
    <div class="poster-details text-center" style="width: 50%;">

      <div><img mat-card-avatar [src]="data.offer.CreatorPicture" style="height: 40px;width: 40px;border-radius: 50%;">
        <span class="task-card-text-posted-by">
          <span >&nbsp;{{data.offer.CreatorName}}</span>
        </span>
        <span class="task-card-text">
          <h5>&nbsp;New!</h5>
        </span></div>

    </div>
    <div class="row text-center">
      <h3> Total: ${{data.offer.Amount}}</h3>
    </div>
    <div>
      <div class="reveivable-content">
        <span class="text-left">You'll pay</span> <span class="text-right" style="float:right">${{data.offer.Amount}}</span>
      </div>
    </div>
    <div class="row text-center">
      <button mat-stroked-button color="primary"  (click)="assign()">Assign</button>
    </div>
  </div>