<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!loadApp">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<app-header *ngIf="loadApp && allowHeader"></app-header>
<router-outlet></router-outlet>
