.home-intro-section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 180px 0 0;
  color: #ffffff;
  overflow: visible;
}
.home-intro-title {
  margin: 0 0 24px;
  font-size: 48px;
  font-weight: 900;
  line-height: 54px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
}
.home-intro-subtitle {
  margin: 0 0 22px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}
.home-intro-text {
  max-width: 570px;
  margin: 0 auto 24px;
}
.intro-cta {
  max-width: 180px;
  margin:  0 auto;
}
.intro-product {
  position: relative;
  top: auto;
  left: auto;
  bottom: 0;
  width: 60%;
  margin:2rem auto 3rem  auto;
}

@media (max-width: 767px) {
  .home-intro-section {
    padding: 100px 0 0;
  }
  .home-intro-title {
    margin: 0 0 24px;
    font-size: 36px;
    font-weight: 900;
    line-height: 38px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
  }
  .home-intro-subtitle {
    margin: 0 0 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
  .intro-product {
    bottom: 0px; // Adjust this for your product image
    width: 100%;
    img {
      width: 480px;
    }
  }
}
@media (max-width: 580px) {
  .intro-product {
    bottom: 0px; // Adjust this for your product image
    img {
      width: 280px;
    }
  }
}

.feature-count {
	display: block;
	font-size: 4rem;
	line-height: 1;
	margin-bottom: 2.4rem;
}
.feature-content h3{
  margin-bottom: 2rem;
  font-weight: bold;
}
.feature-two {
	padding: 0 2rem;
	margin: 2rem 0;
}

.section-two{
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.with-round-borders{
  border-radius: 40px;
}
