<section id="intro-one-section" class="home-intro-section text-center primary-bg">
  <div class="container" fxLayout="column" fxLayoutWrap="nowrap">
    <h1 class="home-intro-title">Get your to-do list done</h1>
    <p class="home-intro-text"> Hundreds of trusted people across Southern Africa happy to help.</p>
    <button mat-raised-button color="primary" mat-lg-button class="with-round-borders" (click)="openTaskCreate('anything')">Get
      started now</button>
    <div class="intro-product">
      <img alt="">
    </div>
  </div>
</section>
<div id="feature-section" class="featured-two section-two">
  <div class="container">
    <div class="text-center">
        <h1 class="title-page">What do you need done?</h1>
        <div style="width: 25% ;float: left;">
        <button mat-fab color="primary" (click)="openTaskCreate('cleaning')">
          <mat-icon>pan_tool</mat-icon>
        </button>
        &nbsp;
        <span>Cleaning</span>
        </div>
<div style="width: 25%; float: left;">
      <button mat-fab color="primary" (click)="openTaskCreate('home & gardening')">
        <mat-icon>spa
        </mat-icon>
      </button>&nbsp;
      <span>Home & Gardening</span>
    </div>
    <div style="width: 25%; float: left;">
      <button mat-fab color="primary" (click)="openTaskCreate('Delivery & removals')">
        <mat-icon>local_shipping</mat-icon>
      </button>&nbsp;
      <span>Delivery & removals</span>
    </div>
    <div style="width: 25%; float: left;">
      <button mat-fab color="primary" (click)="openTaskCreate('Anything')">
        <mat-icon>all_inclusive</mat-icon>
      </button>&nbsp;
      <span>Anything</span>
    </div>
    </div>
  </div>
</div>
