.section-actions{
    margin-top: 0px;
}

.line{
    border-bottom: 1px solid #D0D0D0;
    margin-bottom: 10px;
}

.slider-margin {
    margin: 10px;
  }
  
  .mat-slider-horizontal {
    width: 248px;
    
  }
  