<div class="section-parameters">
    <div>Task Price</div>
    <div style="margin-top: 15px ; width: 234px">
        <mat-slider
        class="slider-margin"
        max="5000"
        color="primary"
        min="0"
        step="1"
        thumbLabel="true"
        [(ngModel)]="Price"
        >
    </mat-slider>
    </div>


  </div>
  <div class="section-actions">
  <div class="line"></div>
  <div class="row">
    <button mat-stroked-button color="primary"  (click)="cancel()">Cancel</button>
    <button style="margin-left: 75px" mat-stroked-button color="primary"  (click)="apply()">Apply</button>
  </div>
  </div>
  