<app-intro></app-intro>
<app-tasks-carousel></app-tasks-carousel>
<!-- <app-services-carousel></app-services-carousel>   
<app-testimonials></app-testimonials>
<app-pricings></app-pricings>
<app-contact></app-contact> -->
<app-cta></app-cta>
<app-footer></app-footer>