<div>

  <mat-list *ngIf="!mobileQuery.matches">
    <mat-list-item>Dashboard</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <div class="text-center">
    <h1 class="title-page">What do you need done?</h1>
  <div class="text-center">
    <div style="width: 25% ;float: left; padding: 18px;">
      <button mat-fab color="primary" (click)="openTaskCreate('Need someone to clean my...')">
        <mat-icon>pan_tool</mat-icon>
      </button>
      &nbsp;
      <span [style.margin-top.px]="mobileQuery.matches ? 10 : 0">Cleaning</span>
    </div>
    <div style="width: 25%; float: left; padding: 18px;">
      <button mat-fab color="primary" (click)="openTaskCreate('Need someone to do my gardening')">
        <mat-icon>spa
        </mat-icon>
      </button>&nbsp;
      <span *ngIf="!mobileQuery.matches">Home & Gardening</span>
      <span *ngIf="mobileQuery.matches"[style.margin-top.px]="mobileQuery.matches ? 10 : 0">Gardening</span>
    </div>
    <div style="width: 25%; float: left; padding: 18px;">
      <button mat-fab color="primary" (click)="openTaskCreate('Need someone to deliver...')">
        <mat-icon>local_shipping</mat-icon>
      </button>&nbsp;
      <span *ngIf="!mobileQuery.matches">Delivery & removals</span>
      <span *ngIf="mobileQuery.matches" [style.margin-top.px]="mobileQuery.matches ? 10 : 0">Deliveries</span>
    </div>
    <div style="width: 25%; float: left; padding: 18px;">
      <button mat-fab color="primary" (click)="openTaskCreate('Need assistance with... ')">
        <mat-icon>all_inclusive</mat-icon>
      </button>&nbsp;
      <span [style.margin-top.px]="mobileQuery.matches ? 10 : 0">Anything</span>
      </div>
    </div>
  </div>


</div>
