<div class="account-container" [class.account-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container  class="account-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav *ngIf="!mobileQuery.matches" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <a mat-list-item></a>
          <div mat-list-item matTooltip="{{user_name}}" class="text-center"><img style="width:100px; margin-left: 40px" [src]="user_picture" alt="Avatar" /></div>
          <div class="text-center"  style="margin-left: 44px">{{user_name}}</div>
          <a mat-list-item></a>
          <mat-list-item *ngFor="let sect of sections" [routerLink]="[sect.link]" [routerLinkActive]="['is-active']">
              <mat-icon>{{sect.icon}}</mat-icon>&nbsp;&nbsp;<a href="javascript:;"  [class]="section == sect.id ? 'active' : ''" >{{sect.label}}</a>
              <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="col-xs-8">
            <app-dashboard *ngIf="section == 'dashboard'"></app-dashboard>
            <app-notifications *ngIf="section == 'notifications'"></app-notifications>
            <app-payment-methods *ngIf="section == 'payment_methods'"></app-payment-methods>
            <app-payments-history *ngIf="section == 'payments_history'"></app-payments-history>
            <app-refer-afriend *ngIf="section == 'refer_a_friend'"></app-refer-afriend>
            <app-settings *ngIf="section == 'settings'"></app-settings>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>