.account-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .account-is-mobile .account-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .account-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .account-is-mobile .account-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  img {
    border-radius: 50%;
  }

  .is-active {
    /* border: 2px solid #2196f3; */
    box-shadow: 0 0px 8px 0 #2196f3, 0 0px 8px 0 #2196f3;
}
  