<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!loading" style="position: absolute; overflow: auto; height: 469px " [style.width.px]="mobileQuery.matches ? 257 : 472">
  <div class="row text-center">
    <h3> {{chatType}} Chat</h3>
  </div>

  <div class="model-wrapper">
    <div class="model-summary">
      <div class="model-userinfo">
        <div><img mat-card-avatar [src]="model.CreatorPicture" style="height: 40px;width: 40px;border-radius: 50%;">
          <span class="task-card-text-posted-by">
            <span>&nbsp;<a style="color: #2196f3">{{model.CreatorName | titlecase}}</a> </span>
          </span>
          <span class="task-card-text">
            <span>
              <rating [(ngModel)]="starsCount" [readonly]="true" [float]="true"></rating>
            </span><span style="font-size: 70%;">50% Completion rate</span>
          </span>
        </div>
      </div>
    </div>
    <div class="model-comment-container">
      <div class="model-comment-container-wrapper">
        {{model.Summary}}
        <div><span style="font-size: 10px; color: grey">{{model.TempCreatedAt | timeAgo}}</span></div>
      </div>
    </div>


    <div class="model-replies">
      <div *ngFor="let modelReply of model.Replies">
          <div class="modelReply-wrapper">
            <div class="modelReply-summary">
              <div>
                  <div><img mat-card-avatar [src]="modelReply.CreatorPicture" style="height: 40px;width: 40px;border-radius: 50%;">
                    <span class="task-card-text-posted-by">
                      <span>&nbsp;<a style="color: #2196f3">{{modelReply.CreatorName | titlecase}} </a></span>
                    </span>
                    <span class="task-card-text-model-reply">
                      <span>&nbsp;{{modelReply.Summary}}</span>
                      <div style="margin-left: 3px"><span
                          style="font-size: 10px; color: grey">{{modelReply.TempCreatedAt | timeAgo}}</span></div>
                   </span>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>


  </div>

  <div class="add-comment-form">
  <div><img mat-card-avatar [src]="user_picture" style="height: 40px;width: 40px;border-radius: 50%;">
    <span>
      <span class="task-question-text">
          <mat-form-field appearance="outline" style="width: 410px;">
            <textarea [formControl]="replyFormControl" matInput #summary [(ngModel)]="reply.Summary" placeholder="Reply to "
              rows="3" cols="50" minlength="25" maxlength="1500"></textarea>
            <mat-hint align="end">{{summary.value.length}} / 1500 <button mat-button color="primary" [disabled]="replyFormControl.hasError('required')"
                (click)="saveReply()">Send</button></mat-hint>
                <mat-error *ngIf="replyFormControl.hasError('required')">
                  <strong>required</strong>
                  </mat-error>   
          </mat-form-field>
      </span>
    </span>
  </div>
</div>
</div>