.add-comment-form{
    margin-bottom: 28px;
    display: table;
    position: relative;
    /* right: 0;
    bottom: 0;
    left: 0; */
  }

  .task-question-text{
    font-size: 12px;
    position: absolute;
    margin-left: 6px; 
  }

  .model-wrapper{
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 0px 0px 0px;
  }

  .model-summary{
    display: flex;
    margin: 0px 0px 0px;
  }
  
  .model-comment-container{
    margin: 0px 0px 0px 48px;
  }
  
  .model-comment-container-meta{
    line-height: 16px;
    font-size: 11px;
    color: rgb(131, 144, 148);
    letter-spacing: 0.15px;
    margin: 4px 0px 0px;
    display: block;
  }

  .task-card-text-posted-by{
    font-size: 12px;
    position: absolute;
    margin-top: 0px;
    margin-left: 6px; 
  }
  .model-comment-container-wrapper{
    background: rgb(245, 249, 251);
    border-radius: 4px;
    padding: 8px;
    display: block;
    font-size: 12px;
  }
  .task-card-text-model-reply{
    font-size: 12px;
    margin-top: 22px;
    margin-left: 6px; 
  }

  .modelReply-wrapper{
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 0px 0px 0px;
    /* margin-top: 6px; */
  }
  
  .modelReply-summary{
    display: flex;
    margin: 0px 0px 0px;
  }
  .model-replies{
    margin-left: 50px;
  }
